/* FONTS */

@font-face {
    font-family: roboto;
    src: url("../fonts/roboto.ttf") format("truetype");
    /* For IE */
    src: local("roboto"), url("../fonts/roboto.ttf") format("truetype");
    /* For non-IE */
    src: local("roboto"), url("../fonts/roboto.woff") format("woff");
}

$font_family_sans_serif: "roboto", Verdana, Arial, sans-serif;
$font_family_serif: Georgia, "Times New Roman", Times, serif;
$font_family_monospace: "Courier New", Courier, monospace;

.monospace {
  font-family: $font_family_monospace;
}